
body {
		margin: 0;
		background-color: #fffaf0;
	}

h1 {
		font-family: "Montserrat", "Times New Roman";
/*		text-align: center;
*/		color: black;
		font-size: 2em;
		padding-left: .75em;
	}

h1.splash {
	text-align: center;
}

h2 {
	font-family: "Montserrat", "Times New Roman";
	color: black;
	font-size: 1.25em;
	padding-left: 1.1em;
}

img {
	max-width: 100%;
	height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#about {
	max-width:85%;
}

ul {
	list-style-type: none;
    color: black;
	font-family: "Montserrat", "Times New Roman";
	text-align: center;
	font-size: 1.2em;
	padding: 0;
}

li {
	list-style-type: none;
	color: black;
	padding-bottom: 2em;
	font-family: "Raleway", "Courier New";
}


a {
	color: black;
	font-size: 1.25em;
}

p {
	font-family: "Raleway", "Times New Roman";
	color: black;
	font-size: 1.1em;
	/*text-align: center;*/
	padding: 0em 1.25em;
}

.content {
        position: absolute;
        width: 100%;
        height: 100%;
}

.column {
    width: 100%;
}


.content > section {
        width: 100%;
        min-height: 100%;
}

section {
	padding-top: 3em;
}

@media screen and (min-width: 600px) {
    .column {
    	float: left;
        width: 33.3%;
    }
    .content:after {
	    content: "";
	    display: table;
	    clear: both;
	}
}