
body {
		margin: 0;
		color: #fff;
		background-color:#5B8EC8;
		font-size: 1rem;
		letter-spacing: .2px;
		display: block;
}

head {
	display: none;
}

h1 {
	font-size: 2em;
	font-family: "Montserrat", "Times New Roman";
}

h2 {
	font-size: 1.45em;
	font-family: "Raleway", "Times New Roman";
	font-weight: normal;
	margin-top: 0;
}

h3 {
	font-size: 1.25em;
	font-family: "Montserrat", "Times New Roman";
	font-weight: normal;

}

p {
	font-size: 1.1em;
	font-family: "Raleway", "Times New Roman";

}

small {
	font-style: italic;
	font-size: .6em;
}

a {
	font-family: "Raleway", "Times New Roman";
	font-size: 1.5em;
	padding-right: 1em;
	color: white;
}

a.name {
	text-decoration: none;
	font-family: "Montserrat", "Times New Roman";
	font-size: 1.5em;

}

a.email {
	font-weight: 0;
	text-decoration: none;
	font-style: italic;
	font-size: 1.45em;

}

nav {
	display: flex;
	height: 256px;
	align-items: center;
}

section {
	padding: 0 20px;
	margin-right: auto;
	margin-left: auto;
}

ul {
	font-family: "Montserrat", "Times New Roman";
}

li {
	font-size: 1em;
	text-decoration: none;
	list-style-type: none;
	font-family: "Raleway", "Times New Roman";

}

nav .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

nav .container aside {
	padding-bottom: 20px;
}

.container {
	display: flex;
	flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding: 0 20px;
}

header {
	margin-bottom: 128px;
	/*margin-top: 128px;*/
}

.row {
	margin-left: auto;
	margin-right: auto;
	max-width: 1100px;
	padding: 0px;
}

.column {
	float: left;
	color: white;
	width: 100%;
}

.project {
	background-color: white;
	color: black;
	margin: 0 20px 20px 20px;

}

.about {
	margin: 0 20px 20px 20px;
}

.description {
	padding: 10px 20px;
}


img {
	width: 100%;
}

.label {
	font-family: "Raleway";
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 2em;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin-right: 5px;
}

/*tags at the end of projects // frontend colors*/
.label-front {
	background-color: #5B8EC8;
}

/*tags at the end of projects // backend colors*/
.label-back {
	background-color: #A9A9A9;
}

.label-design {
	background-color: #0D4F8B;
}

@media screen and (min-width: 600px) {
    .column_three {
    	float: left;
        width: 33%;
    }

    .column_two {
    	float: left;
    	width: 50%;
    }

    .row:after {
    	content: "";
    	display: table;
    	clear: both;
	}

	.project {
		margin-left: 0px;
	}

	.about {
	margin-left: 0px;
}
}





